/*Universal and Reset*/

:root {
    --primary: hsl(195, 100%, 50%);
    --secondary: hsl(176, 100%, 50%);
    --third: hsl(177, 100%, 78%);
    --accent: hsl(44, 100%, 50%);
    --text: hsl(0, 0%, 6%);
}

* {
    font-size: 1.8rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
}

html {
    font-size: 10px;
}

body {
    background-color: var(--primary);
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Navbar*/

header nav {
    background-color: var(--third);
    height: 7.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-inline: 2.6rem;
    /* box-shadow: 0px offset x 2px offset y 4px blur rgba(255, 255, 255, 0.8); */
}

#nav-links {
    display: flex;
    gap: 1.6rem;
    list-style: none;
    padding: 0;
}

#logo {
    background-color: var(--primary);
    border: 1.4rem solid var(--third);
    font-size: 2.6rem;
    position: absolute;
    padding: 3rem;
    top: 0;
    left: calc(50% - 5.9rem);
    border-radius: 50%;
}

/*Product*/

#product-container {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.3fr 1fr;
    grid-template-areas: 
    'imgs imgs details details'
    'imgs imgs colors sizes';
    gap: 2.6rem;
    padding: 2.6rem 2.6rem 0 2.6rem;
    margin-top: 5rem;
}

#details {
    background-color: var(--third);
    padding: 1.6rem;
    grid-area: details;
}

#colors {
    background-color: var(--third);
    padding: 1.6rem;
    grid-area: colors;
}

#sizes {
    background-color: var(--third);
    padding: 1.6rem;
    grid-area: sizes;
}

#images {
    grid-area: imgs;
    display: grid;
    grid-template-columns: 49% 51%;
    grid-template-rows: 54% 46%;
    grid-template-areas: 
    'big side1'
    'big side2';
    gap: 2.6rem;
    overflow: hidden;
}

#img-big {
    grid-area: big; 
    object-position: 10% 90%;   
}

#img-side1 {
    grid-area: side1;
    object-position: 10% 10%;
}

#img-side2 {
    grid-area: side2;
    object-position: 40% 60%;
}

/*Actions*/

#actions-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: calc(100vh - 70vh - 7.6rem - 5rem);
    grid-template-areas: 
    'buy extra similar similar';
    gap: 2.6rem;
    padding: 2.6rem;
}

#buy {
    grid-area: buy;
}

#extra {
    grid-area: extra;
    display: flex;
    gap: 2.6rem;
}

#similar {
    background-color: var(--third);
    padding: 1.6rem;
    grid-area: similar;
}

#heart {
    flex: 1 1;
}

#review {
    flex: 1 1;
}

/*Media Queries*/

@media only screen and (max-width: 760px) {
    #product-container,
    #actions-container {
        display: block;
        height: auto;
    }
}