/*Universal and Reset and Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Oxygen&display=swap');

:root {
    --primary: hsl(195, 100%, 50%);
    --secondary: hsl(176, 100%, 50%);
    --third: hsl(177, 100%, 90%);
    --text: hsl(0, 0%, 6%);
}

* {
    font-size: 2rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Oxygen', Verdana, sans-serif;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--primary);
}

h1, h2, h3 {
    font-family: 'Lobster Two', Times, serif;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3rem;
    margin: 1rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: cover;
    border-radius: 1rem;  
}

button {
    cursor: pointer;
    border-radius: 1rem;
    border: 0;
    background-color: #fff;
    transition: all .3s ease-out;
}

button:hover {
    background-color: var(--secondary);
}

i {
    display: inline-block;
    vertical-align: middle;
    font-size: 3rem;
    margin-inline: 1rem;
    margin-bottom: 0.3rem;
}

a:hover{
    opacity: 0.7;
}

.size,
.color {
    width: 7.5rem;
    height: 7.5rem;
}

/*Navbar*/

header nav {
    background-color: var(--third);
    height: 7.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-inline: 2.6rem;
    margin-inline: 2.6rem;
    border-radius: 0 0 1rem 1rem;
}

#nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding: 0;
}

#logo {
    background-color: var(--primary);
    border: 1.4rem solid var(--third);
    font-size: 2.6rem;
    position: absolute;
    padding: 3rem;
    top: 0;
    left: calc(50% - 7.1rem);
    border-radius: 50%;
}

#nav-buttons {
    display: flex;
    gap: 3rem;
}

#nav-buttons button {
    padding: 1rem;
    background-color: var(--primary);
}

#nav-buttons button:hover i {
    color: hsl(0, 0%, 100%);
}

/*Product*/

#product-container {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.3fr 1fr;
    grid-template-areas: 
    'imgs imgs details details'
    'imgs imgs colors sizes';
    gap: 2.6rem;
    padding: 2.6rem 2.6rem 0 2.6rem;
    margin-top: 5rem;
} 

#price {
    font-size: 2.6rem;
}

#description {
    line-height: 3.5rem;
}

#details {
    background-color: var(--third);
    padding: 1.6rem;
    border-radius: 1rem;
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

#colors {
    background-color: var(--third);
    padding: 1.6rem;
    border-radius: 1rem;
    grid-area: colors;
}

#sizes {
    background-color: var(--third);
    padding: 1.6rem;
    border-radius: 1rem;
    grid-area: sizes;
}

#images {
    grid-area: imgs;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 56.5% 43.5%;
    grid-template-areas: 
    'big side1'
    'big side2';
    gap: 2.6rem;
    overflow: clip;
    border-radius: 1rem;
    padding: 0 2.6rem 2.6rem 0;  
}

#img-big {
    grid-area: big; 
    object-position: 10% 90%;  
}

#img-side1 {
    grid-area: side1;
    object-position: 10% 10%
}

#img-side2 {
    grid-area: side2;
    object-position: 40% 60%
}

.btn-container {
    width: 80%;
    height: 80%;
    margin-inline: auto;
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#colors button {
    border-radius: 50%;
}

.red {
    background-color: hsl(0, 85%, 50%);
}

.green {
    background-color: hsl(101, 85%, 50%);
}

.blue {
    background-color: hsl(233, 85%, 50%);
}

.yellow {
    background-color: hsl(55, 85%, 50%);
}

/*Actions*/

#actions-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: calc(100vh - 70vh - 7.6rem - 5rem);
    grid-template-areas: 
    'buy extra similar similar';
    gap: 2.6rem;
    padding: 2.6rem;
}

#actions-container button {
    font-size: 2.6rem;
}

#actions-container i {
    display: block;
}

#buy {
    grid-area: buy;
}

#extra {
    grid-area: extra;
    display: flex;
    gap: 2.6rem;
}

#similar {
    background-color: var(--third);
    padding: 1.6rem;
    border-radius: 1rem;
    grid-area: similar;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

#similar img {
    max-width: 15%;
}

#similar h3 {
    margin-right: 4rem;
}

#heart {
    flex: 1 1;
}

#review {
    flex: 1 1;
}


/*Media Queries*/

@media only screen and (max-width: 1540px) {
    #product-container,
    #actions-container {
        height: auto;
    }

    .btn-container {
        width: 100%;
    }
}


@media only screen and (max-width: 1150px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 760px) {
    #product-container,
    #actions-container {
        display: block;
        height: auto;
    }

    #actions-container {
        padding-block: 0;
    }

    #images {
        max-height: 60vh;
    }

    #sizes, #colors, #details, #similar, #extra {
        margin-block: 1.6rem;
    }

    #buy {
        width: 100%;
    }
    
    #similar h3 {
        margin: 0;
    }
}

@media only screen and (max-width: 650px) {
    #nav-links,
    #logo {
        display: none;
    }

    #product-container {
        margin-top: 0;
    }

    #nav-buttons {
        width: 100%;
        justify-content: space-between;
    }
}